{
  "openapi": "3.0.3",
  "info": {
    "title": "Agentic Engine API",
    "version": "1.0.0",
    "description": "Production-ready API for autonomous agentic engine with multi-tenant support, usage tracking, and enterprise features",
    "contact": {
      "name": "API Support",
      "email": "support@agenticengine.io"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.agenticengine.io",
      "description": "Production"
    },
    {
      "url": "https://staging-api.agenticengine.io",
      "description": "Staging"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": [],
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Goal": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "description": { "type": "string" },
          "priority": { "type": "integer", "enum": [0, 1, 2, 3] },
          "status": { "type": "string", "enum": ["pending", "running", "completed", "failed"] },
          "createdAt": { "type": "integer" }
        }
      },
      "GoalRequest": {
        "type": "object",
        "required": ["description"],
        "properties": {
          "description": { "type": "string", "maxLength": 1000 },
          "priority": { "type": "integer", "enum": [0, 1, 2, 3], "default": 2 },
          "constraints": { "type": "object" }
        }
      },
      "Metrics": {
        "type": "object",
        "properties": {
          "state": { "type": "string" },
          "tasksCompleted": { "type": "integer" },
          "tasksFailed": { "type": "integer" },
          "avgDecisionTime": { "type": "number" },
          "avgExecutionTime": { "type": "number" },
          "knowledgeEntries": { "type": "integer" },
          "experienceCount": { "type": "integer" },
          "modelAccuracy": { "type": "number" },
          "uptime": { "type": "integer" },
          "memoryUsage": { "type": "integer" }
        }
      },
      "Tenant": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "plan": { "type": "string", "enum": ["starter", "professional", "enterprise"] },
          "features": {
            "type": "object",
            "properties": {
              "learning": { "type": "boolean" },
              "customActions": { "type": "boolean" },
              "webhooks": { "type": "boolean" },
              "analytics": { "type": "boolean" },
              "whiteLabel": { "type": "boolean" }
            }
          },
          "limits": {
            "type": "object",
            "properties": {
              "requestsPerMinute": { "type": "integer" },
              "concurrentGoals": { "type": "integer" },
              "dailyGoals": { "type": "integer" }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "tenantId": { "type": "string" },
          "timestamp": { "type": "integer" },
          "endpoint": { "type": "string" },
          "method": { "type": "string" },
          "responseTime": { "type": "integer" },
          "statusCode": { "type": "integer" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "code": { "type": "string" },
          "details": { "type": "object" }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Returns API health status",
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "uptime": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/goals": {
      "post": {
        "summary": "Submit goal",
        "description": "Submit a new goal for the agentic engine to process",
        "security": [{"ApiKeyAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/GoalRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Goal created",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Goal"}
              }
            }
          },
          "400": {"$ref": "#/components/schemas/Error"},
          "401": {"$ref": "#/components/schemas/Error"},
          "429": {"$ref": "#/components/schemas/Error"}
        }
      },
      "get": {
        "summary": "List goals",
        "description": "Get all goals for the tenant",
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {"type": "string", "enum": ["pending", "running", "completed", "failed"]}
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {"type": "integer", "default": 50}
          }
        ],
        "responses": {
          "200": {
            "description": "Goals list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "goals": {"type": "array", "items": {"$ref": "#/components/schemas/Goal"}},
                    "total": {"type": "integer"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/metrics": {
      "get": {
        "summary": "Get metrics",
        "description": "Get current engine metrics",
        "security": [{"ApiKeyAuth": []}],
        "responses": {
          "200": {
            "description": "Metrics",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Metrics"}
              }
            }
          }
        }
      }
    },
    "/v1/tenants/me": {
      "get": {
        "summary": "Get tenant info",
        "description": "Get current tenant information and limits",
        "security": [{"ApiKeyAuth": []}],
        "responses": {
          "200": {
            "description": "Tenant info",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Tenant"}
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "summary": "Get usage",
        "description": "Get API usage statistics",
        "security": [{"ApiKeyAuth": []}],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {"type": "integer", "default": 100}
          }
        ],
        "responses": {
          "200": {
            "description": "Usage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usage": {"type": "array", "items": {"$ref": "#/components/schemas/Usage"}},
                    "total": {"type": "integer"}
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}